<br /><br />
<!-- page title -->
<h1 class="align-center">Contact Us</h1>
<br /><br />

<div fxLayout>
  <div fxFlex>
    <mat-card class="align-center">
      <!-- card icon -->
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />

      <!-- address -->
      <mat-card-content>
        <p>
          Nodebucket Inc.
        </p>
        <p>
          999 Las Vegas Blvd
        </p>
        <p>
          Las Vegas, Nevada
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="align-center">
      <!-- card icon -->
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <!-- phone numbers -->
      <mat-card-content class="">
        <p>
          Direct: 702-505-7007
        </p>
        <p>
          Toll-free: 1-800-505-7007
        </p>
        <p>
          Email: nodebucket.cs@example.com
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />
<!-- info text -->
<div fxLayout="column" class="align-center">
  <p>
    Customer Service at nodebucket is available to call or email 24/7 for support.
  </p>
</div>
