<!-- 404 error page -->
<div fxLayout="column">
  <mat-card-content style="text-align: center">
    <h1 style="margin-top: 4em">
      <span id="error">404</span>
      <br /><br />
      Page Not Found
    </h1>

    <h1 class="error">Whoops! You've stumbled onto a non-existent page!</h1>
    <img src="./assets/david-tyemnyak-cd-iay_oQOc-unsplash.jpg" alt="Cat hiding under cover">
    <br />
    <span class="img-attribution">
      Photo by <a href="https://unsplash.com/@davidtyemnyak?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">David Tyemnyák</a> on <a href="https://unsplash.com/photos/cd-iay_oQOc">Unsplash</a>
    </span>
    
    <br /> <br /><br /> <br />

    <button mat-raised-button color="primary" routerLink="/">Back to Task Manager</button>
    <span> or </span>
    <button mat-raised-button color="accent" routerLink="/session/signin">Login</button>
  </mat-card-content>
</div>