<!-- about page -->
<br /><br />
<!-- page title -->
<h1 class="align-center">About Us</h1>
<br /><br />

<!-- intro - top card -->
<div fxLayout="row wrap">
  <div>
    <mat-card class="align-center">

      <br />

      <!-- image -->
      <mat-card-content>
        <div fxLayout="column">
          <img class="img" src="./assets/samur-isma-7pSpz7hXox0-unsplash.jpg" alt="Picture of a bucket - Photo from Unsplash by Samur Isma" />
          <figcaption>View photo by <a href="https://unsplash.com/@freeyorker">Samur Isma</a> on <a href="https://unsplash.com/photos/7pSpz7hXox0" target="_blank">Unsplash</a></figcaption>
        </div>
      </mat-card-content>

      <div fxFlex>
        <div class="align-center">

          <br /><br /><br /><br />

          <!-- description -->
          <mat-card-content>
            <p>
              Nodebucket is a task managing application that allows people of all backgrounds, lifestyles, and careers to be able to stay organized and focused on their daily responsibilities. This app can be accessed from anywhere on a desktop or mobile device. No more forgetting appointments, chores, or jobs that tend to become an after-thought in our daily routines. With nodebucket, we can finally manage all of our duties in one place without any unnecessary complexity! Join today for free and start adding and completing tasks at your own convenience. Nodebucket is based in Las Vegas, Nevada. Feel free to <a routerLink="/contact">contact us</a> for more information about our services!
            </p>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
</div>

<!-- nodebucket users -->
<div id="nb-users">
  <div>
      <h2>Who is nodebucket for?</h2>
  </div>

  <div>
    <p>
      Nodebucket is for everyone! Students, business employees, parents, dog walkers, the list goes on. If you're in need of a service to help you manage your daily tasks - nodebucket is for you!
    </p>
  </div>
</div>