<!-- Home page - Task Manager -->
<div fxLayout="column" class="main-welcome">
    <h1 class="title">
      Welcome to WEB 450's - nodebucket Project <br />
      <span class="subtitle">
        Manage Tasks
      </span>
    </h1>
  </div>

  <br /> <br />

  <!-- create task button -->
  <div>
    <div fxFlex>
      <div class="task-container" fxLayout="column">
        <button mat-flat-button color ="primary" (click)="openCreateTaskDialog()">Create Task</button>
      </div>
    </div>
  </div>

  <br />

  <div>
    <div fxFlex>
      <div fxLayout="row" fxLayoutGap="15px" class="task-container">

        <!-- toDo column -->
        <div fxFlex>
          <mat-card class="mat-elevation-z0">
            <mat-card-title>
              ToDo
            </mat-card-title>

            <mat-card-content>
              <div 
                fxLayout="column"
                fxLayoutGap="10px"
                class="task-column"
                cdkDropList
                #toDoList="cdkDropList"
                [cdkDropListData]="toDo"
                [cdkDropListConnectedTo]="[doneList]"
                (cdkDropListDropped)="drop($event)"class="task-column"
              >
                <div *ngFor ="let item of toDo" cdkDrag>
                  <mat-card class="mat-elevation-z0 task-card">
                    <!-- entries -->
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex>
                          {{ item.text }}
                        </div>
                        <div fxFlex fxLayoutAlign="end">
                          <button mat-icon-button (click)="deleteTask(item._id)">
                            <mat-icon color="accent">delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>


        <!-- done column -->
        <div fxFlex>
          <mat-card class="mat-elevation-z0">
            <mat-card-title>
              Done
            </mat-card-title>

            <mat-card-content>
              <div 
                fxLayout="column"
                fxLayoutGap="10px"
                class="task-column"
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[toDoList]"
                (cdkDropListDropped)="drop($event)"
              >
                <div *ngFor ="let item of done" cdkDrag>
                  <mat-card class="mat-elevation-z0 task-card">
                    <!-- entries -->
                    <mat-card-content>
                      <div fxLayout="row">
                        <div fxFlex>
                          {{ item.text }}
                        </div>
                        <div fxFlex fxLayoutAlign="end">
                          <button mat-icon-button (click)="deleteTask(item._id)">
                            <mat-icon color="accent">delete</mat-icon>
                          </button>
                        </div>
                      </div>

                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
  </div>
  </div>


