/**
 * Title:         Nodebucket - Styles
 * Author:        Mark Watson
 * Date:          29 August 2021
 * Description:   Global styles for Nodebucket.
**/

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.align-center {
  text-align: center;
}
